@{ ViewData["Title"] = "estanteria"; }
    <link rel="stylesheet" href="/css/style.css" />

 <header>
        <a href="@Url.Action("salaDeEstar")">Volver a la sala de estar</a>
    </header>
<body class="baño">
        
<a href="@Url.Action("manijas")" id="Manijas">aaa</a>


</body>