 @{ ViewData["Title"] = "caja"; }
    <link rel="stylesheet" href="~/css/style.css" />
 
 <form  method="post" action="@Url.Action("desbloquearSala")">
        <input type="text" name="clave" class="contenedorDialogo"/>
        <input type="hidden" name="sala" value="4" />
        <input type="hidden" name="salaOriginal" value="sotano" />
        <button type="submit">Desbloquear</button>
    </form>