@{ ViewData["Title"] = "cocina"; }
<head>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body class="cocina">
        <div>
        <img src='/img/olga.png' id="olga"  style="cursor:pointer;">
        <div id="contenedorDialogo">
          <p id="textoDialogo"></p>
        </div>
        <script> 
        window.onload = function () {
        
         const dialogos = [
        "¡Ah, joven! Buenos días. Ah, ¿quiere abrir el cajón ese?",
        "Creo que yo tenía la llave pero no la puedo ir a buscar, tengo que preparar el té ahora para el señor. Si me ayudas a preparar el te puedo conseguir la llave… ",
        "El té del señor es muy específico, si no está hecho correctamente él lo va a rechazar, la receta es fácil pero los frascos de ingredientes están mezclados y no los puedo descifrar. Usted seguro que si le sale, avísame cuando termine y le abriré el cajón"
    
    ];

        const dialogosNuevos = [
        "¡Ah, joven! ¿Todavia no preparo el te?",
        "Ayudaria pero tengo que buscar la llave, tiene un pequeño papel con una ayuda en el estante si lo necesita",
        "Confio en usted"
    
    ];
    let dialogoYaRecorrido=false;
    let dialogoId = 0;        
            document.getElementById("olga").addEventListener("click", function () {      
            if (dialogoId < dialogos.length && !dialogoYaRecorrido) {
                     document.getElementById("textoDialogo").textContent = dialogos[dialogoId];
                     dialogoId++;
            }else if(dialogoId < dialogosNuevos.length && dialogoYaRecorrido){
                if (document.getElementById("contenedorDialogo").style.display === "none") {
                      document.getElementById("contenedorDialogo").style.display = "block";
                }
                      document.getElementById("textoDialogo").textContent = dialogosNuevos[dialogoId];
                      dialogoId++;

            }else{
                document.getElementById("contenedorDialogo").style.display = "none";
                dialogoId = 0; 
                dialogoYaRecorrido=true;
            }
        });
    }
        const pista = document.querySelector('.pistaFrascos');

        pista.addEventListener('click', () => {
         pista.classList.toggle('active');

        }); 
   
        </script>
        <a href='@Url.Action("estanteria")'><img src="/img/frasco1.png"></a>
        </div>

</body>