@{ ViewData["Title"] = "finalMalo"; }
<link rel="stylesheet" href="~/css/style.css" />

    <head>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
<body class="inicio">

        <div class="fondo-blur"><img src="/img/fonto-inicio.png" alt=""></div>
    <div class="contenido">
        <div class="contenedorDialogo" id="contenedorInicio" tabindex="0">
            <p id="textoDialogo">...</p>
        </div>

    <a class="contenedorDialogoPersonaje" href="@Url.Action("estudio")" style="display:none;" id="volver">Terminar</a>
    <script>
            const dialogos = [
            "El acusado es inocente.",
"Faltan pruebas que sostengan tu conjetura; descubres que la verdad es más esquiva y menos evidente de lo que imaginaste.",
"Todas las miradas convergen ahora en ti; quien más vocifera, esconde tras sus palabras un secreto que teme revelar.",
"La casa entera te vuelve la espalda; el venerable patriarca convoca a las autoridades, y no tarda en iniciarse el juicio que decidirá tu destino.",
"Tal vez en otra existencia, las acusaciones hallen su justo cauce y la verdad, su merecido rostro.",
"Haz un nuevo intento, pues la justicia exige paciencia y astucia."
             ];
      
    let dialogoId = 0;
    let escribiendo = false;
    let intervalo;
    let i = 0;
    let termino=false;
    const textoElemento = document.getElementById("textoDialogo");
    const contenedor = document.getElementById("contenedorInicio");

    function escribirTexto(texto) {
        clearInterval(intervalo);
        textoElemento.textContent = "";
        i = 0;
        escribiendo = true;

        intervalo = setInterval(() => {
            if (i < texto.length) {
                textoElemento.textContent += texto.charAt(i);
                i++;
            } else {
                clearInterval(intervalo);
                escribiendo = false;
            }
        }, 35);
    }

    function completarTexto(texto) {
        clearInterval(intervalo);
        textoElemento.textContent = texto;
        escribiendo = false;
    }

   function avanzarDialogo() {
    if (dialogoId >= dialogos.length) {
        document.getElementById("contenedorDialogo").style.display="none";
    document.getElementById("volver").style.display="block";
    return;
    }
    const textoActual = dialogos[dialogoId];
        if (escribiendo) {
            completarTexto(textoActual);
        } else {
            dialogoId++;
            escribirTexto(dialogos[dialogoId]);
        }
    }

contenedor.addEventListener("click", function(event) {
    if (event.target.closest("form")) {
        return;
    }
    avanzarDialogo();
});

        </script>
    </div>
</body>