@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
<div>
    <h1>Enigma bajo llave</h1>
    <h2>El acusado inocente</h2>
    <a href='@Url.Action("inicio")'>Empezar</a>
</div>
</body>