@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="indice">
<div>
<h1>Enigma</h1>
    <h2>El acusado inocente</h2>
    <a href='@Url.Action("inicio")'>Empezar</a>
</div>
</body>