@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="indice">
    <div class="fondo-blur"> </div>

    <div class="contenido">
        <h1>Enigma</h1>
        <h2>El acusado inocente</h2>
        <nav>
            <a href='@Url.Action("inicio")'>Empezar</a>
            <a href="#">Opciones</a>
            <a href="#">Salir</a>
        </nav>
    </div>
    <!--COPITOSS!-->
    <div class="snowflake">❄</div>
<div class="snowflake">✻</div>
<div class="snowflake">❅</div>
<div class="snowflake">✼</div>
<div class="snowflake">❆</div>
<div class="snowflake">❄</div>
<div class="snowflake">✻</div>
<div class="snowflake">❅</div>
<div class="snowflake">✼</div>
<div class="snowflake">❆</div>
<div class="snowflake">❄</div>
<div class="snowflake">✻</div>
<div class="snowflake">❅</div>
<div class="snowflake">✼</div>
<div class="snowflake">❆</div>
</body>
