@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto</p>

    <h1>esto es una prueba</h1>
    <form action ='@Url.Action("ingresarNombre")' method="POST" >
    <input type="text" name="nombre">
    </form>
</div>
