@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="indice">
    <div class="fondo-blur"> </div>

    <div class="contenido">
        <h1>Enigma</h1>
        <h2>El acusado inocente</h2>
        <nav>
            <a href='@Url.Action("inicio")'>Empezar</a>
            <a href="#" id="tutorial">Instrucciones</a>
            <a href="#" id="creditos">Creditos</a>
        </nav>
<div class="tutorial">
    <h3>Bienvenidos a ENIGMA</h3>
    <h2>En este Juego tendrás 45 minutos para escapar y resolver el misterio de la casa.</h2>
    <h2>Reglas:</h2>
    <h3>1: Jugar En F11 para la mejor experiencia (si ves que el puzzle requiere salir de esta misma se puede)</h3>
    <h3>2: Usar los botones para volver hacia atrás del navegador o la herramienta de inspect está estrictamente prohibido</h3>
    <h3>3: Lee con atención todo</h3>
    <button id="cerrarTutorial">Cerrar</button>
</div>

<div class="creditos">
    <h3>Hecho por:</h3>
    <h3>Juana Lopez Valenzuela</h3>
    <h3>Iara Szwarstein</h3>
    <button id="cerrarCreditos">Cerrar</button>
</div>
 <div class="snowflake">❄</div>
<div class="snowflake">✻</div>
<div class="snowflake">❅</div>
<div class="snowflake">✼</div>
<div class="snowflake">❆</div>
<div class="snowflake">❄</div>
<div class="snowflake">✻</div>
<div class="snowflake">❅</div>
<div class="snowflake">✼</div>
<div class="snowflake">❆</div>
<div class="snowflake">❄</div>
<div class="snowflake">✻</div>
<div class="snowflake">❅</div>
<div class="snowflake">✼</div>
<div class="snowflake">❆</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("tutorial").addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".tutorial").style.display = "block";
    });
   document.getElementById("creditos").addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".creditos").style.display = "block";
    });
    document.getElementById("cerrarTutorial").addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".tutorial").style.display = "none";
    });

    document.getElementById("cerrarCreditos").addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".creditos").style.display = "none";
    });
});
</script>
</body>