@{
    ViewData["Title"] = "irASala";
}
<link rel="stylesheet" href="~/css/style.css" />

<body>
<h2>Esta sala todavia no esta desbloqueada, intenta ir por otro camino...</h2>
<a href='@Url.Action("mapa")'>Volver</a>
</body>