@{ ViewData["Title"] = "luz"; }
<link rel="stylesheet" href="~/css/style.css" />

 <header>
        <a href="@Url.Action("sotano")">Volver al sotano</a>
    </header>

<h1 class="textoLuz">Karamázov1900</h1>