@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto</p>

    <h1>esto es una prueba 2 </h1>
    <form action ='@Url.Action("desbloquearSala")' method="POST" >
    <input type="text" name="clave" placeholder="Clave">
    <input type="submit" name="sala" value=salaDeEstar>
    </form>
</div>
