@{
    ViewData["Title"] = "Sala de Retratos";
}
<link rel="stylesheet" href="~/css/style.css" />
 <header>
        <a href="@Url.Action("salaDeEstar")">Volver a la sala de estar</a>
    </header>
<body class="salaDeRetratos">
    <img src="/img/retrato1.png" alt="">
    <img src="/img/retrato2.png" alt="">
    <img src="/img/retrato3.png" alt="">
    <img src="/img/retrato4.png" alt="">
    <img src="/img/retrato5.png" alt="">
    <img src="/img/retrato6.png" alt="">
    <img src="/img/retrato7.png" alt="">
    <img src="/img/retrato8.png" alt="">

</body>
 <form  method="post" action="@Url.Action("desbloquearSala")">
        <input type="text" name="clave" class="contenedorDialogo"/>
        <input type="hidden" name="sala" value="6" />
        <input type="hidden" name="salaOriginal" value="salaDeRetratos" />
        <button type="submit">Desbloquear</button>
    </form>
</html>