@{ ViewData["Title"] = "sotano"; }
    <link rel="stylesheet" href="~/css/style.css" />
 <header>
        <a href="@Url.Action("salaDeEstar")">Volver a la sala de estar</a>
    </header>
<main>
<a href="@Url.Action("caja")">a</a>

</main>