* {
  margin: 0%;
  padding: 0%;
  font-family: 'Crimson Text', serif;
}

.fondo-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/fondoinicio.png');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.contenido {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 30%;
}

.inicio,
.indice {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'Times New Roman', serif;
}


.indice h1 {
  margin-top: 7.5%;
  font-weight: 700;
  font-size: 125px;
  letter-spacing: 0.1em;
  color: #572020;
  font-family: 'Cormorant SC', serif;
  text-shadow:
    -1px -1px 0 #a17847,
    1px -1px 0 #cfa879,
    -1px 1px 0 #a17847,
    1px 1px 0 #a17847,
    0 0 5px #8b5e3c,
    0 0 10px #7a4c28,
    0 0 15px #6f4620;
  text-align: center;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none;
}

.snowflake {
  position: fixed;
  top: -5%;
  color: white;
  font-size: 1.2rem;
  opacity: 0.8;
  animation-name: caer;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;
}

@keyframes caer {
  0% {
    transform: translateY(-100px) translateX(0);
    opacity: 0.6;
  }

  100% {
    transform: translateY(110vh) translateX(50px);
    opacity: 0;
  }
}

/*COPITOS*/
.snowflake:nth-child(1) {
  left: 5%;
  font-size: 1rem;
  animation-delay: 0s;
}

.snowflake:nth-child(2) {
  left: 12%;
  font-size: 1.6rem;
  animation-delay: 2s;
}

.snowflake:nth-child(3) {
  left: 20%;
  font-size: 1.2rem;
  animation-delay: 1s;
}

.snowflake:nth-child(4) {
  left: 28%;
  font-size: 1.4rem;
  animation-delay: 3s;
}

.snowflake:nth-child(5) {
  left: 36%;
  font-size: 1.1rem;
  animation-delay: 4s;
}

.snowflake:nth-child(6) {
  left: 44%;
  font-size: 1.8rem;
  animation-delay: 2.5s;
}

.snowflake:nth-child(7) {
  left: 52%;
  font-size: 1.3rem;
  animation-delay: 1.8s;
}

.snowflake:nth-child(8) {
  left: 60%;
  font-size: 1.5rem;
  animation-delay: 3.2s;
}

.snowflake:nth-child(9) {
  left: 68%;
  font-size: 1.2rem;
  animation-delay: 0.5s;
}

.snowflake:nth-child(10) {
  left: 76%;
  font-size: 1.7rem;
  animation-delay: 2.8s;
}

.snowflake:nth-child(11) {
  left: 84%;
  font-size: 1.1rem;
  animation-delay: 0.8s;
}

.snowflake:nth-child(12) {
  left: 90%;
  font-size: 1.6rem;
  animation-delay: 4.5s;
}

.snowflake:nth-child(13) {
  left: 25%;
  font-size: 1.3rem;
  animation-delay: 1.3s;
}

.snowflake:nth-child(14) {
  left: 50%;
  font-size: 1.9rem;
  animation-delay: 2.3s;
}

.snowflake:nth-child(15) {
  left: 70%;
  font-size: 1.4rem;
  animation-delay: 3.7s;
}

h2 {
  margin-top: -1.5%;
  text-align: center;
  font-family: 'Cormorant SC', serif;
  font-weight: 800;
  font-size: 2rem;
  color: #1f1b1b;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 5%;
}

nav a {
  clear: both;
  width: 12%;
  display: inline-block;
  padding: 0.75%;
  font-family: 'Crimson Text', serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: white;
  background-color: #572020;
  border: 2px solid #a17847;
  outline: 5px solid #572020;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 0 0 transparent;
  cursor: pointer;
  transition: background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    outline-color 0.3s ease,
    box-shadow 0.3s ease;
}

nav a:hover,
nav a:focus {
  background-color: #f0d68a;
  color: #6a2a1f;
  border-color: #f0d68a;
  outline-color: #f0d68a;
  transform: scale(1.07);
  box-shadow:
    0 0 15px 6px rgba(240, 214, 138, 0.85),
    0 0 30px 8px rgba(240, 214, 138, 0.6);
  transition: all 0.3 ease;
}

.fondo-blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(158, 152, 152, 0.3);
  pointer-events: none;
}

.indice>* {
  position: relative;
  z-index: 2;
}

.inicio {}

.contenedorDialogo {
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 30px;
  border: 2px solid #8b0000;
  border-radius: 12px;
  width: 70%;
  margin: 10% auto;
  text-align: center;
  font-size: 1.3rem;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contenedorDialogoPersonaje {
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 30px;
  border: 2px solid #8b0000;
  border-radius: 12px;
  width: 70%;
  margin: 10% auto;
  text-align: center;
  font-size: 1.3rem;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main header a {
  width: 100%;
  display: inline-block;
}

#map-icon {
  float: right;
  cursor: pointer;
  padding: 0%;
  margin: 0%;
  border-radius: 10px;
}
#map-icon img{
  width: 5%;
  float:right;
}
#map-overlay {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#map-content {
  background-color: #f5f0e6;
  margin: 5% auto;
  padding: 40px 30px;
  border: 5px solid #b48a58;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-family: "Georgia", serif;
  position: relative;
  color: #3b2e1a;
  background-image: url("/img/pergamino-textura.png");
  background-size: cover;
}

#map-content img {
  width: 100%;
  height: auto;
  margin: 0%;
}

.salaDeEstar {
  background-image: url("/img/saladeestar.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.personajes {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20%;
}

.personajes img {
  width: 18%;
  margin-left: 0%;
}

/* Posiciones semicírculo (de izquierda a derecha) */
.personajes img:nth-child(1) {
  transform: translate(45%, 90%);
}

.personajes img:nth-child(2) {
  transform: translate(30%, 80%);
}

.personajes img:nth-child(3) {
  top: 20%;
  left: 50%;
  transform: translate(0%, 75%);
}

.personajes img:nth-child(4) {
  top: 40%;
  left: 70%;
  transform: translate(-30%, 80%);
}

.personajes img:nth-child(5) {
  top: 70%;
  left: 90%;
  transform: translate(-45%, 90%);
}

header img {
  width: 10%;
}

#botonPatio {
  position: absolute;
  width: 2.5%;
  height: 2.5%;
  background-color: white 0.99;
  padding: 4%;
  margin-bottom: 20%;
  margin-top: 16%;
  margin-left: -18%;
  /* hacer clickeo que haga qure aparezaca no que sea otra pestaña*/
}

/*PATIO*/

.patio {
  background-image: url("/img/patio.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#zonaorigen {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  display: flex;

}

.arbusto {
  width: 10%;
  height: auto;
  margin: 10px;
  cursor: grab;
  /*ARREGLAR!! QUEDAN FEOS, PONER QUE TODOS TENGAN EL MISMO TAMAÑO ESTOS SON VALORES DE PRUEBA*/
}

.arbusto:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease;

}

#modalPergamino {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#modalContenido {
  background-color: #f5f0e6;
  margin: 5% auto;
  padding: 40px 30px;
  border: 5px solid #b48a58;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-family: "Georgia", serif;
  position: relative;
  color: #3b2e1a;
  background-image: url("/img/pergamino-textura.png");
  background-size: cover;
}

#textoPergamino p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
  margin: 0;
}

#cerrarModal,
#close-map {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #3b2e1a;
  cursor: pointer;
}

#pergamino {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1500;
  cursor: pointer;
}

#zona-drop {
  border: 2px dashed gray;
  padding: 20px;
  min-height: 100px;
  margin: 20px;
  /* para arbustos, ARREGLAR!!!!! ESTOS VALORES SON DE PRUEBA atte:iara*/
}

/*COCINA*/
.cocina {
  background-image: url("/img/cocina.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cocina a {
  position: absolute;
  padding: 3%;
  width: 15%;
  margin-top: 5%;
  margin-left: 11%;
  border: 2px dashed #fff;
  text-decoration: none;
  z-index: 9999;
}

#olga {
  margin-top: 20%;
  margin-left: 60%;
  transform: scaleX(-1);
}

/*Estanteria*/
.estanteria {
  background-image: url("/img/estanteria.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  clear: both;
  justify-content: center;
  align-items: flex-end;
}

.estanteria li {
  width: 15%;
  padding: 1%;
  margin: 0%;
  cursor: pointer;
  user-select: none;
  transition: transform 0.25s ease;
}

.estanteria li:hover {
  transform: scale(1.05);
}

.estanteria li .frasco {
  clear: both;
  height: auto;
  width: 90%;
  transition: transform 0.3s ease;
}

.frasco.selected {
  transform: scale(1.1);
  /* 10% más grande */
}

button[type="submit"] {
  background-color: #520000;
  border: 2px solid #d4af37;
  border-radius: 10px;
  color: #d4af37;
  font-size: 1.1rem;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 0 10px #b87333;
}

button[type="submit"]:hover {
  background-color: #d4af37;
  color: #520000;
  box-shadow: 0 0 15px #ffd700;
}

#claveForm {
  display: none;
}


/* SALA DE RETRATOS*/
.salaDeRetratos {
  background-image: url("/img/salaDeRetratos.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  list-style: none;
  padding: 0;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #27ae60;
  color: white;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.libro {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 60px;
  height: 60px;
}

.libro.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.libro .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*FUENTESS*/
@font-face {
  font-family: 'Titulo';
  src: url('/fonts/RigorMortisRegular.woff2') format('woff2'),
    url('/fonts/RigorMortisRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/crimsontext-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/crimsontext-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/crimsontext-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/crimsontext-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/crimsontext-semibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/cormorantsc-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/cormorantsc-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/cormorantsc-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/cormorantsc-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/cormorantsc-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}