* {
  border: 1px solid white;
  margin: 0%;
  padding: 0%;
  font-family: "Crimson Text", serif;
}

.fondo-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/fondoinicio.png");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.inicio .fondo-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/historia-fondo.png");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.inicio .fondo-blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.336);
  pointer-events: none;
}

.contenido {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 30%;
}

.inicio,
.indice {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Times New Roman", serif;
}
.inicio #textoDialogo{
  position: relative;
  width: 100%;
}
.indice h1 {
  margin-top: 7.5%;
  font-weight: 700;
  font-size: 125px;
  letter-spacing: 0.1em;
  color: #572020;
  font-family: "Cormorant SC", serif;
  text-shadow: -1px -1px 0 #a17847, 1px -1px 0 #cfa879, -1px 1px 0 #a17847,
    1px 1px 0 #a17847, 0 0 5px #8b5e3c, 0 0 10px #7a4c28, 0 0 15px #6f4620;
  text-align: center;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 40%,
    rgba(0, 0, 0, 0.5) 100%
  );
  pointer-events: none;
}

.snowflake {
  position: fixed;
  top: -5%;
  color: white;
  font-size: 1.2rem;
  opacity: 0.8;
  animation-name: caer;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;
}

@keyframes caer {
  0% {
    transform: translateY(-100px) translateX(0);
    opacity: 0.6;
  }

  100% {
    transform: translateY(110vh) translateX(50px);
    opacity: 0;
  }
}

/*COPITOS*/
.snowflake:nth-child(1) {
  left: 5%;
  font-size: 1rem;
  animation-delay: 0s;
}

.snowflake:nth-child(2) {
  left: 12%;
  font-size: 1.6rem;
  animation-delay: 2s;
}

.snowflake:nth-child(3) {
  left: 20%;
  font-size: 1.2rem;
  animation-delay: 1s;
}

.snowflake:nth-child(4) {
  left: 28%;
  font-size: 1.4rem;
  animation-delay: 3s;
}

.snowflake:nth-child(5) {
  left: 36%;
  font-size: 1.1rem;
  animation-delay: 4s;
}

.snowflake:nth-child(6) {
  left: 44%;
  font-size: 1.8rem;
  animation-delay: 2.5s;
}

.snowflake:nth-child(7) {
  left: 52%;
  font-size: 1.3rem;
  animation-delay: 1.8s;
}

.snowflake:nth-child(8) {
  left: 60%;
  font-size: 1.5rem;
  animation-delay: 3.2s;
}

.snowflake:nth-child(9) {
  left: 68%;
  font-size: 1.2rem;
  animation-delay: 0.5s;
}

.snowflake:nth-child(10) {
  left: 76%;
  font-size: 1.7rem;
  animation-delay: 2.8s;
}

.snowflake:nth-child(11) {
  left: 84%;
  font-size: 1.1rem;
  animation-delay: 0.8s;
}

.snowflake:nth-child(12) {
  left: 90%;
  font-size: 1.6rem;
  animation-delay: 4.5s;
}

.snowflake:nth-child(13) {
  left: 25%;
  font-size: 1.3rem;
  animation-delay: 1.3s;
}

.snowflake:nth-child(14) {
  left: 50%;
  font-size: 1.9rem;
  animation-delay: 2.3s;
}

.snowflake:nth-child(15) {
  left: 70%;
  font-size: 1.4rem;
  animation-delay: 3.7s;
}

h2 {
  margin-top: -1.5%;
  text-align: center;
  font-family: "Cormorant SC", serif;
  font-weight: 800;
  font-size: 2rem;
  color: #1f1b1b;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 5%;
}

.inicio nav a,
.indice nav a {
  clear: both;
  width: 12%;
  display: inline-block;
  padding: 0.75%;
  font-family: "Crimson Text", serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: white;
  background-color: #572020;
  border: 2px solid #a17847;
  outline: 5px solid #572020;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 0 0 transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, outline-color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover,
nav a:focus {
  background-color: #f0d68a;
  color: #6a2a1f;
  border-color: #f0d68a;
  outline-color: #f0d68a;
  transform: scale(1.07);
  box-shadow: 0 0 15px 6px rgba(240, 214, 138, 0.85),
    0 0 30px 8px rgba(240, 214, 138, 0.6);
  transition: all 0.3 ease;
}

.fondo-blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(158, 152, 152, 0.3);
  pointer-events: none;
}

.indice > * {
  position: relative;
  z-index: 2;
}

.inicio {
}

.contenedorDialogo,
.contenedorDialogoPersonaje {
  margin-top: 15%;
  margin-left: 21%;
  line-height: 1.8;
  font-size: 18px;
  background-color: #2727279f;
  border: 3px solid #bfa15a;
  border-radius: 12px;
  padding: 1.5%;
  color: #f4f1e1;
  font-family: "Crimson Pro", serif;
  box-shadow: inset 0 0 30px rgba(255, 215, 0, 0.08),
    0 0 25px rgba(0, 0, 0, 0.6), 0 0 10px rgba(191, 161, 90, 0.3);
  width: 56%;
  align-content: center;
  height: 80px;
}

#map-icon {
  width: 5%;
  float: right;
  cursor: pointer;
  padding: 0%;
  margin: 0%;
  border-radius: 10px;
}

#map-icon img {
  width: 100%;
}

#map-overlay {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#close-map {
  position: absolute;
  margin-top: 0.2%;
  margin-left: 38.5%;
  font-size: 28px;
  font-weight: bold;
  color: #3b2e1a;
  cursor: pointer;
}

#map-content {
  margin-top: 5%;
  margin-left: 30%;
  border: 1px solid white;
  width: 40%;
  padding: 0.2%;
  padding-bottom: 5%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-family: "Georgia", serif;
  color: #3b2e1a;
}

#map-content img {
  z-index: -1;
  position: relative;
  clear: both;
  width: 100%;
  margin-top: 0.5%;
  border-radius: 20px;
}

#map-content a {
  background-color: none;
  margin: 0%;
  position: absolute;
}

#map-content h3 {
  font-family: "Cormorant SC", serif;
  font-size: 24px;
  width: 7.5%;
  font-weight: 800;
  position: absolute;
  text-align: center;
  background-color: #ffe7c87a;
  color: #441313da;
}
#nombreEstudio {
  transform: translate(65%, -750%);
}
#nombreBiblioteca {
  transform: translate(65%, -1200%);
}
#nombreRetrato {
  transform: translate(65%, -225%);
}
#nombrePatio {
  transform: translate(205%, -1600%);
}
#nombreBaño {
  transform: translate(350%, -1250%);
}
#nombreCocina {
  transform: translate(350%, -800%);
}
#nombreSotano {
  transform: translate(350%, -450%);
}
#botonPatio {
  padding: 8%;
  padding-top: 0%;
  padding-right: 15%;
  padding-left: 15%;
  transform: translate(16.5%, -450%);
}

#botonEstudio {
  width: 0%;
  padding: 4%;
  transform: translate(57%, -345%);
}

#botonBiblioteca {
  width: 0%;
  padding: 4%;
  transform: translate(57%, -235%);
}

#botonSala {
  padding: 5.5%;
  padding-top: 17%;
  transform: translate(120%, -125%);
}

#botonRetratos {
  padding: 4%;
  padding-top: 2%;
  transform: translate(57%, -165%);
}

#botonBaño {
  padding: 5%;
  padding-top: 1%;
  transform: translate(250%, -450%);
}

#botonCocina {
  padding: 5%;
  padding-top: 3%;
  transform: translate(250%, -260%);
}

#botonSotano {
  padding: 5%;
  padding-top: 3%;
  transform: translate(250%, -150%);
}

.salaDeEstar {
  background-image: url("/img/saladeestar.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.personajes {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0%;
}

.personajes img {
  width: 18%;
  margin-left: 0%;
}

/* Posiciones semicírculo (de izquierda a derecha) */
.personajes img:nth-child(1) {
  transform: translate(45%, 80%);
}

.personajes img:nth-child(2) {
  transform: translate(30%, 70%);
}

.personajes img:nth-child(3) {
  top: 20%;
  left: 50%;
  transform: translate(0%, 65%);
}

.personajes img:nth-child(4) {
  top: 40%;
  left: 70%;
  transform: translate(-30%, 70%);
}

.personajes img:nth-child(5) {
  top: 70%;
  left: 90%;
  transform: translate(-45%, 80%);
}

header img {
  width: 10%;
}

/*PATIO*/

.patio {
  background-image: url("/img/patio.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#zonaorigen {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  display: flex;
}

.arbusto {
  width: 10%;
  height: auto;
  margin: 10px;
  cursor: grab;
  /*ARREGLAR!! QUEDAN FEOS, PONER QUE TODOS TENGAN EL MISMO TAMAÑO ESTOS SON VALORES DE PRUEBA*/
}

.arbusto:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease;
}

#modalPergamino {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#modalContenido {
  background-color: #f5f0e6;
  margin: 5% auto;
  padding: 40px 30px;
  border: 5px solid #b48a58;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-family: "Georgia", serif;
  position: relative;
  color: #3b2e1a;
  background-image: url("/img/pergamino-textura.png");
  background-size: cover;
}

#textoPergamino p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
  margin: 0;
}

#cerrarModal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #3b2e1a;
  cursor: pointer;
}

#pergamino {
  float: right;
  margin-right: 1%;
  width: 5%;
  cursor: pointer;
  transform: translate(0%, -100%);
}
#pergamino img {
  width: 100%;
}
#zona-drop {
  border: 2px dashed gray;
  padding: 20px;
  min-height: 100px;
  margin: 20px;
  /* para arbustos, ARREGLAR!!!!! ESTOS VALORES SON DE PRUEBA atte:iara*/
}

#viktor {
  position: absolute;
  width: 18%;
}
.oculto {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.oculto {
  display: none;
}
.contenedorDialogoPersonaje {
  width: 75%;
  padding-top: 0%;
  margin-left: 0%;
  margin-top: 25%;
  height: 9rem;
}
#nombrePersonaje {
  font-size: 20px;
  color: #b48a58;
  text-align: justify;
  width: 30%;
  margin-top: -4%;
  margin-bottom: 1%;
  font-size: 24px;
}
#textoDialogo {
  width: 75%;
  position: absolute;
  font-size: 18px;
}
#personajeDialogo {
  z-index: -1;
  position: absolute;
  margin-top: -10%;
  width: 30rem;
  margin-left: -5%;
  height: auto;
  clip-path: inset(0% 0% 50% 0%);
  transform: translate(0%, -20%);
}

/*COCINA*/
.cocina {
  background-image: url("/img/cocina.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
#olga {
  width: 25%;
  margin-top: 2%;
  margin-left: 60%;
}
 #botonEstanteria{
  position: relative;
  padding: 4%;
  width: 15%;
  float: left;
  margin-left:10%;
  margin-top:7.5%;  
}
/*Estanteria*/
.estanteria {
  background-image: url("/img/estanteria.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  clear: both;
  justify-content: center;
  align-items: flex-end;
}

.estanteria li {
  width: 15%;
  padding: 1%;
  margin: 0%;
  cursor: pointer;
  user-select: none;
  transition: transform 0.25s ease;
}

.estanteria li:hover {
  transform: scale(1.05);
}

.estanteria li .frasco {
  clear: both;
  height: auto;
  width: 90%;
  transition: transform 0.3s ease;
}

.frasco.selected {
  transform: scale(1.1);
  /* 10% más grande */
}

button[type="submit"] {
  background-color: #520000;
  border: 2px solid #d4af37;
  border-radius: 10px;
  color: #d4af37;
  font-size: 1.1rem;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 0 10px #b87333;
}

button[type="submit"]:hover {
  background-color: #d4af37;
  color: #520000;
  box-shadow: 0 0 15px #ffd700;
}

#claveForm {
  display: none;
}

/* SALA DE RETRATOS*/
.salaDeRetratos {
  background-image: url("/img/salaDeRetratos.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* BIBLIOTECA*/
.biblioteca {
  background-image: url(/img/biblioteca.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.biblioteca #puertaSecreta {
  width: 2%;
  color: rgb(73, 25, 25);
  margin-left: 95%;
  padding-top: 7%;
  margin-top: 13%;
  opacity: 0.1;
  display: block;
}

.biblioteca #puertaSecreta:hover {
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0 0 15px 6px rgba(255, 255, 150, 0.8);
}

.biblioteca #claveForm {
  display: none;
}

/*Sotano */
.sotano {
  background-image: url(/img/sotano.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.caja {
  background-image: url(/img/caja.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.caja #puertaSecreta {
  width: 35%;
  margin-left: 28%;
  padding-top: 40%;
  margin-top: 4%;
  opacity: 0.1;
  display: block;
}

/*baño*/
.baño {
  background-image: url(/img/baño.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.manijas {
  background-image: url(/img/manijas.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.baño #puertaSecreta {
  opacity: 0.1;
  width: 25%;
  margin-left: 4%;
  margin-top: 35%;
  padding-top: 25%;
}

#numeroTotal {
  position: absolute;

  margin-top: 25%;
  color: white;
}

#numeromanijaIzquierda {
  position: absolute;

  font-size: medium;
  margin-left: 30%;
  float: left;
  color: white;
}

#numeromanijaDerecha {
  position: absolute;
  font-size: medium;
  margin-right: 30%;
  float: right;
  color: white;
}
.baño div img {
  display: flex;
}
#flecha1 {
  width: 5%;
  margin-left: 15%;
}
#flecha2 {
  width: 5%;
  margin-left: 35%;
}
#flecha3 {
  width: 5%;
  margin-left: 45%;
}
#flecha4 {
  width: 5%;
  margin-left: 5%;
}
/*estudio */
.estudio {
  background-image: url(/img/estudio.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*FUENTESS*/
@font-face {
  font-family: "Titulo";
  src: url("/fonts/RigorMortisRegular.woff2") format("woff2"),
    url("/fonts/RigorMortisRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimsontext-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimsontext-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimsontext-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimsontext-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimsontext-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("/fonts/cormorantsc-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("/fonts/cormorantsc-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("/fonts/cormorantsc-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("/fonts/cormorantsc-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("/fonts/cormorantsc-bold.ttf") format("truetype");
  font-weight: 800;
  font-style: bold;
}
