
body {
    background-image: url('/img/fondoinicio.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.salaDeEstar main img{
    width:40%;
    margin-left:30%;
    position:relative;
}
header img{
    width:10%;
}
#botonPatio {
  position: absolute;
    width: 2.5%;
    height: 2.5%;
    background-color: white 0.99;
    padding: 4%;
    margin-bottom: 20%;
    margin-top: 16%;
    margin-left: -18%;
   /* hacer clickeo que haga qure aparezaca no que sea otra pestaña*/

}
.patio{
    background-image: url('/img/patio.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#arbusto {
    width: 100px;
    margin: 10px;
    cursor: grab;
    /*ARREGLAR!! QUEDAN FEOS, PONER QUE TODOS TENGAN EL MISMO TAMAÑO ESTOS SON VALORES DE PRUEBA*/
}

#zona-drop{
    border: 2px dashed gray; 
    padding: 20px; 
    min-height: 100px; 
    margin: 20px;
    /* para arbustos, ARREGLAR!!!!! ESTOS VALORES SON DE PRUEBA atte:iara*/
}

#claveForm{
    display:none;
}

.frasco{
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.frasco:hover, .frasco.active {
  background-color: rgb(235, 217, 157);
  width:30%
} 